@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Poppins", sans-serif;
}

.fadeIn {
    animation-name: fadeInKeyframes;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes fadeInKeyframes {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.text-stroke {
    -webkit-text-stroke: 3px black;
    text-stroke: 3px black;
}
