@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Poppins", sans-serif;
}

.fadeIn {
    animation-name: fadeInKeyframes;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes fadeInKeyframes {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.infiniteSlide {
    animation-name: infiniteSlideKeyframes;
    animation-timing-function: linear;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

@keyframes infiniteSlideKeyframes {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.slideRight {
    animation-name: slideRightKeyframes;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

@keyframes slideRightKeyframes {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.slideLeft {
    animation-name: slideLeftKeyframes;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

@keyframes slideLeftKeyframes {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.text-stroke {
    -webkit-text-stroke: 3px black;
    text-stroke: 3px black;
}

.preserve {
    transform-style: preserve-3d;
}
